@()(implicit l: Lang, messages: Messages)
@main("accommodation") {

<div id="sec">
    <div id="sectionleft">
        <h1>@Messages("accommodation.damman")</h1>
        <h2>@Messages("accommodation.damman.byline")</h2>
        <p>
        <ul>
            <li>@Messages("accommodation.damman.bullet1")</li>
            <li>@Messages("accommodation.damman.bullet2")</li>
            <li>@Messages("accommodation.damman.bullet3")</li>
            <li>@Messages("accommodation.damman.bullet4")</li>
            <li>@Messages("accommodation.damman.bullet5")</li>
        </ul>
        <p>
        @Messages("accommodation.damman.description")
    </div>

    <div id="sectionright">
        <h1>@Messages("general.pictures")</h1>
        <h2>@Messages("accommodation.damman.pictures")</h2>
	 	<iframe id='iframe' src='http://flickrit.com/slideshowholder.php?height=75&size=big&setId=72157636595187016&click=true&counter=true&trans=1&theme=1&thumbnails=0&transition=0&layoutType=responsive&sort=0' scrolling='no' frameborder='0' style='height:325px;width:100%;margin-left:auto;margin-right:auto;'>
		</iframe>
    </div>
</div>

<div id="sec">
<div id="sectionleft">
    <h1>@Messages("accommodation.steinshaugen")</h1>
    <h2>@Messages("accommodation.steinshaugen.byline")</h2>
    <p>
    @Messages("accommodation.steinshaugen.description")
    <p>
    <!--table style="margin-top:50px">
        <tr class="eve"><th scope="row">@Messages("accommodation.table.beds")</th><td>@Messages("accommodation.steinshaugen.beds")</td></tr>
        <tr class="odd"><th scope="row">@Messages("accommodation.table.kitchen")</th><td>@Messages("accommodation.steinshaugen.kitchen")</td></tr>
        <tr class="eve"><th scope="row">@Messages("accommodation.table.livingroom")</th><td>@Messages("accommodation.steinshaugen.livingroom")</td></tr>
        <tr class="odd"><th scope="row">@Messages("accommodation.table.tv")</th><td>@Messages("accommodation.steinshaugen.tv")</td></tr>
        <tr class="eve"><th scope="row">@Messages("accommodation.table.wifi")</th><td>@Messages("accommodation.steinshaugen.wifi")</td></tr>
        <tr class="odd"><th scope="row">@Messages("accommodation.table.other")</th><td>@Messages("accommodation.steinshaugen.other")</td></tr>
    </table-->
</div>
	
<div id="sectionright">
  <h1>@Messages("general.pictures")</h1>
  <h2>@Messages("accommodation.steinshaugen.pictures")</h2>
  <iframe id='iframe' 	src='http://flickrit.com/slideshowholder.php?height=75&size=big&setId=72157640405431036&click=true&counter=true&trans=1&theme=1&thumbnails=0&transition=0&layoutType=responsive&sort=0' scrolling='no' frameborder='0' style='height:325px;width:100%;margin-left:auto;margin-right:auto;'>
  </iframe>
</div>
</div>

<div id="sec">
    <div id="sectionleft">
        <h1>@Messages("accommodation.gjerde")</h1>
        <h2>@Messages("accommodation.gjerde.byline")</h2>
        <p>
        @Messages("accommodation.gjerde.description")
        <p>
    </div>

    <div id="sectionright">
        <h1>@Messages("general.pictures")</h1>
        <h2>@Messages("accommodation.gjerde.pictures")</h2>
	    <iframe id='iframe' 	src='http://flickrit.com/slideshowholder.php?height=75&size=big&setId=72157640405516816&click=true&counter=true&trans=1&theme=1&thumbnails=0&transition=0&layoutType=responsive&sort=0' scrolling='no' frameborder='0' style='height:325px;width:100%;margin-left:auto;margin-right:auto;'>
	    </iframe>
    </div>
</div>

}
