@(activepage: String = "index")(content: Html)(implicit l: Lang, messages: Messages)

@isselected(active: String, inquestion: String) = @{
  if(active == inquestion) { "selected" } else { "notselected" }
} 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>@Messages("title")</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
        
        <!-- JQuery used by jplot -->
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.5.2.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.tools-1.2.5.min.js")"></script>
        
        <!-- Plotting - http://www.jqplot.com -->
        <script type="text/javascript" src="@routes.Assets.at("javascripts/flot/jquery.flot.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/flot/jquery.flot.time.min.js")"></script>
        
        <!-- Maps -->
        <script type="text/javascript" charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script type="text/javascript" charset="utf-8" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
        
        <!-- Custom maps data -->
        <script src="@routes.Assets.at("javascripts/stabbursdata.maps.js")"></script>
		
		<!-- Locale switching -->
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.i18n.properties-min-1.0.9.js")"></script>
        <script type="text/javascript">
            $(document).ready(function(){
              $.i18n.properties({
                name: 'messages',
                path: '/i18n?',
                mode: 'map',
                cache: true,
                language: 'kk'
              });
            });
        </script>
		<script type="text/javascript">
		  function submit_locale () {
		    var form = document.querySelector('form.change-locale');
        	if (form !== null) {
              form.addEventListener('change', function () { form.submit(); });
            }
          }
		</script>
		
		<!-- Google analytics --> 
		<script>
 		 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  		 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		  ga('create', 'UA-41001717-1', {
  			'cookieDomain': 'eklivalda.no' // Replace with eklivalda.no in production
  		  });
  		  ga('send', 'pageview');
	   </script>

        <!-- Social media buttons : Facebook -->
        <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    </head>
    
    <body onload="GetMap();">
      <div id="layout">
        <div id="header">
          <div class="menu">
            <ul>
              <li><a class="@isselected(activepage, "index")" href="@routes.Application.index()">@Messages("menu.home")</a></li>
              <li><a class="@isselected(activepage, "zone1")" href="@routes.Application.zone1()">@Messages("menu.zone1")</a></li>
              <li><a class="@isselected(activepage, "zone2")" href="@routes.Application.zone2()">@Messages("menu.zone2")</a></li>
              <li><a class="@isselected(activepage, "zone3")" href="@routes.Application.zone3()"">@Messages("menu.zone3")</a></li>
              <li><a class="@isselected(activepage, "blog")" href="@routes.Application.blog()">@Messages("menu.blog")</a></li>
              <li><a class="@isselected(activepage, "orkla")" href="@routes.Application.orkla()">@Messages("menu.orkla")</a></li>
              <li><a class="@isselected(activepage, "accommodation")" href="@routes.Application.accommodation()">@Messages("menu.accommodation")</a></li>
              <li><a class="@isselected(activepage, "about")" href="@routes.Application.about()">@Messages("menu.about")</a></li>
            </ul>
           </div>
           
           <div id="title">
             @Messages("title")
             <h2>@Messages("title.byline")</h2>
           </div>
           
           <div id="byline">
              <div class="left">
                  <div class="fb-share-button" data-href="http://eklivalda.no" data-type="button"></div>
              </div>
		   </div>
        </div> <!-- header -->
        
        <div id="content">
          <!-- Optionally show a message on top of all pages -->
          @if(!Messages("message.main").startsWith("message.main")) {
            <div id="message">
              <marquee behavior="slide" direction="left" scrollamount="10">@Messages("message.main")</marquee>
            </div>
          }

          <!-- Here goes each individual page -->
          <div id="main">
            @content
          </div> <!-- main -->
        </div> <!-- content -->
        
        <div id="footer">
          <p>
              @Html(Messages("footer")) <br>
              @Html(Messages("footer.acknowledgement"))
          </p>
        </div> <!-- footer -->
        
      </div>  <!-- layout -->
    </body>
</html>